
@{
                Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="pagetitle">
    <h1>Test</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Test</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">
                <p>Hello</p>
            </div>
        </div>
    </div>
</section>